video {
  width: 100%;
}

@media (max-width: 360px){
  .mobile{
    /*background-size: cover;*/
    /*background-color: green;*/
  }
  .tablet{
    display: none;
  }
  .desktop{
    display: none;
  }
}

@media  (min-width: 361px) and (max-width: 720px){
  .tablet{
    /*background-size: cover;*/
    /*background-color: yellow;*/
  }
  .mobile{
    display: none;
  }
  .desktop{
    display: none;
  }
}

@media (min-width: 721px) {
  .desktop {
    /*background-size: cover;*/
    /*background-color: red;*/
  }
  .tablet{
    display: none;
  }
  .mobile{
    display: none;
  }
}
